
<footer class="mt-5 container-fluid">
    <div class="row justify-content-center">
        <p class=" text-center"><i class="fa-regular fa-copyright"></i> 2024 - Bouchra BERRAHOU</p>
    </div>
</footer>